<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css" />
    <title>Edit</title>
</head>

<body>
  <div class="container">
    <h1>Edit Task</h1>

    <form method="POST" action="/task/<%=task.id%>?_method=PATCH">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<%= task.title %>" required>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="3" style="text-align: left;" required>
          <%=task.description %>
        </textarea>
      </div>

      <button type="submit">Save Changes</button>
    </form>
  </div>
</html>